/* Header */
header {
    background-color: #112D4E;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    padding: 1rem;
    margin: 0;
    color:#F9F7F7;
}

/* Body */
body {
    color: #112D4E;
    font-family: "roboto", sans-serif;
    padding: 0;
    margin: 0;
}

section {
    background-color: #DBE2EF;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 1.1rem;
}

.texto {
    margin-left: 0.625rem;
    font-size: 1.1rem;
}

.enlace {
    text-decoration: none;
    padding: 3px;
    color: #112D4E;
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 1rem;
    margin-right: 1rem;
}

.sitio__profesional {
    margin: 0;
}

#ficha {
    width: 100%;
    display: flex;
    align-items: center;
}

#contenedor__foto {
    padding: 1rem;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.75rem;
    height: 21.875rem;
}

#foto__alumno {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

#contenedor__enlaces {
    width: 66%;
    height: 21.875rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

#contenedor__enlaces h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    margin-top: .2rem;
    margin-bottom: .2rem;
}

/* Footer */
footer {
    background-color: #112D4E;
    width: 100%;
    display: flex;
    justify-content: center;
}

#contenedor__logo {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: .2rem;
}

#logo {
    width: 100%;
    height: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 6px;
    margin-left: 6px;
}

/* CSS para vista mobile */
@media screen and (max-width: 800px) {
    section {
        height: 100vh;
        align-items: flex-start;
    }

    #ficha {
        flex-direction: column;
        width: 100%;
    }

    #contenedor__foto {
        margin: 1rem;
    }

    #contenedor__enlaces h3 {
        margin-top: .5rem;
        margin-bottom: .5rem;
        width: 500px;
        height: 800px;
    }
}