/* BODY */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: #112D4E;
    font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
    background-color: #112D4E;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 1rem;
    margin: 0;
    color: #F9F7F7;
}

/* MAIN */
main{
    background-color: #DBE2EF;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3{
    font-size: 20px;
}

p {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    text-align: justify;
}

span{
    font-weight: 800;
}

.enlace {
    text-decoration: none;
    padding: 3px;
    color: #112D4E;
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 1rem;
    margin-right: 1rem;
}

#ficha {
    width: 100%;
    display: flex;
    align-items: center;
}

#contenedor__foto {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.75rem;
    height: 21.875rem;
}

#foto__alumno {
    width: auto;
    height: 100%;
    border-radius: 1rem;
}

#contenedor__enlaces {
    width: 66%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-around;
}

#contenedor__enlaces h3 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 0;
}

/* FOOTER */
footer {
    background-color: #112D4E;
    width: 100%;
    display: flex;
    justify-content: center;
}

#contenedor__logo {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo {
    width: 100%;
    height: 100%;
}

/* CSS para vista mobile */
@media screen and (max-width: 800px) {
    body {
        grid-template-rows: auto 1fr auto;
    }

    section {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #ficha {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #contenedor__foto, #contenedor__enlaces {
        width: 100%;
        margin: 1rem 0;
    }

    #foto__alumno {
        width: auto;
    }

    #contenedor__enlaces {
        align-items: flex-start;
        width: auto;
        gap: 10px;
    }

    #contenedor__enlaces h3 {
        font-size: 18px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }

    #contenedor__enlaces p{
        width: auto;
        margin: 0;
    }

    .texto {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .enlace {
        padding: 0 10px 0 10px;
        margin: 0;
    }
}
